.login{
    position: fixed;
    min-width: 300px;
    min-height: 400px;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.login .form {
    width:100%;
}